@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");

.Base {
  background-color: #000000;
}
.Root {
  border-style: none solid;
  border-color: #27272ae6;
  border-width: 0.5px;
  background-color: #18181b;
  margin-left: 15%;
  margin-right: 15%;
}

.Block {
  margin-top: 50px;
}

.Navbar {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e4e4e7;
  font-family: "Titillium Web";
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  position: sticky;
  top: 0;
}
.Navbar-hidden {
  top: -100px;
}
.Navbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #27272ae6;
  padding: 0px 30px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.Navbar-container {
  display: flex;
  gap: 20px;
}
.Navbar-container {
  color: #e4e4e7;
  text-decoration: none;
  padding: 15px 15px;
  position: relative;
  transition: background 0.3s, color 0.3s;
}

.Navbar-container:hover::after,
.Navbar-container.active::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 80%;
  height: 2px;
  background-color: #00ffcc;
}

.Navbar-container:hover,
.Navbar-container.active {
  color: #00ffcc;
}

.App {
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.Home-picture {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  background-image: url("../public/homepic.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 540px;
  width: 100%;
}
.Grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.Grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item1 {
  /* grid-column-start: 1;
  grid-column-end: 3; */
}

.logo {
  height: 10vmin;
  pointer-events: none;
}

.Footer {
  border-style: solid none none none;
  border-width: 0.5px;
  border-color: #27272ae6;
  color: #e4e4e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.Footer-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 20px;
  padding: 10px;
  justify-content: start;
  align-items: center;
}

.Footer-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.Footer-section {
  color: #e4e4e7;
  font-family: "Titillium Web";
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
}

.Rights {
  border-style: none;
  font-family: "Titillium Web";
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  background: none;
  justify-content: right;
  grid-column-start: 6;
  grid-column-end: 7;
  color: #6b6b73;
}
@media (max-width: 768px) {
  .Navbar {
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the start, keeping the logo on the left on smaller screens */
  }
  .Navbar-logo {
    margin-right: 0; /* Removes the right margin on smaller screens */
  }
  .Navbar-section {
    padding-top: 10px; /* Adds some space above the section when stacked */
  }
}
